html {
    font: 16px/1 sans-serif;
}
#ui-dialog-body {
    line-height: 1.75;
}
h3 {
    font-style: italic;
}
.fsn {
    font-style: normal;
}
.fvsc {
    font-variant: small-caps;
}

.tal {
    text-align: left;
}
.tac,
.passage.aligncenter,
.passage h1,
.passage h2 {
    text-align: center;
}
.tar,
.answers,
.answers button {
    text-align: right;
}

p {
    margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
hr {
    margin-top: 0.9rem;
	margin-bottom: 0.9rem;
}
.answers button {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}
.mt6,
#ui-bar-body p.mt6 {
    margin-top: 0.6rem;
}
.mb6,
#ui-bar-body p.mb6 {
    margin-bottom: 0.6rem
}
.mt0,
#ui-bar-body > :not(:first-child),
#ui-bar-body p,
#story-author {
    margin-top: 0rem;
}
.mb0,
#ui-bar-body p,
#story-author {
    margin-bottom: 0rem
}

.pa5 {
    padding: 0.5rem;
}
.btnpad {
    display: inline-block;
    padding: .4rem;
}

.fs12 {
    font-size: 1.2rem;
}

.fwb {
    font-weight: bold;
}

textarea {
    min-width: 20rem;
}
input[type="text"] {
    min-width: 10rem;
}

button,
.see-saw button:disabled {
    background-color: #240;
    border: 1px solid #350;
    transition: 0.6s;
}
.red-btn button {
    background-color: #600;
    border-color: #700;
}
button:hover,
.see-saw button:disabled:hover {
    background-color: #250;
    border-color: #461;
}
.red-btn button:hover {
    background-color: #700;
    border-color: #811;
}
button:disabled:hover,
.see-saw button:hover {
    background-color: #555;
    border-color: #777;
}
button:disabled,
.see-saw button {
    background-color: #444;
    border-color: #666;
}
.see-saw {
    display: inline-block;
}
.see-saw button {
    color: #c9f;
}
.see-saw button:disabled {
    color: #ef4;
}
#story-caption button,
#story-caption button:hover,
#menu li a:hover {
    background-color: transparent;
}
a {
    color: #ef4;
    text-decoration: underline;
}
a:hover {
    color: #fc5;
}

button,
input,
select,
textarea {
    border-radius: 0.2rem;
}
#my-header,
#my-footer,
.passage > .my-passage {
    padding: 0.5rem;
    border-left: 1px solid #444;
    border-right: 1px solid #444;
    background-color: #111;
    overflow-x: auto;
}
#my-header,
#my-footer,
#ui-dialog-titlebar {
    background-color: #420;
    border: 1px solid #530;
}
#ui-dialog-titlebar,
#my-header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom: none;
}
#ui-dialog-body,
#my-footer {
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-top: none;
    overflow-x: auto;
}
.story-card-1,
textarea,
input[type="text"] {
    background-color: #efc;
    color: #204;
}
.accented {
    color: #c9f;
}
textarea,
input[type="text"]{
    border-color: #461;
    border-width: 5px;
    transition: 0.6s;
}
input[type="text"]:not(:disabled):focus,
input[type="text"]:not(:disabled):hover,
textarea:not(:disabled):focus,
textarea:not(:disabled):hover {
    background-color: #fff;
    border-color: #eb4;
}
.story-card-1 {
    border: 4px double #530;
  	font-size: 1.2rem;
    font-style: italic;
    border-radius: 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 0.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.story-card-1 p {
    padding: 0.5rem;
    margin: 0;
}
.story-card-1 p.complic {
    padding: 0;
    border: 0.5rem dotted #fc5;
    transition: 0.3s;
}
.story-card-1 p.complic.solved {
    border-color: #350;
}
.story-card-1 hr {
    margin: 0;
}
.story-card-1 p.who {
    font-variant: small-caps;
    font-style: normal;
    text-align: center;
    color: #420;
}

body {
    background-color: #000;
}

#ajax-anim-right .ajax-anim-1 {
    position: fixed;
    top: 50px;
    right: 0px;
    z-index: 100100100;
}
.ajax-anim-1 {
    display: inline-block;
    color: transparent;
    font-style: italic;
}
.ajax-anim-1 span {
    transition: 0.9s;
}
.ajax-anim-1 span.active {
    color: #eb4;
}